<%= link_to 'Bem-vindo', statics_welcome_path %>
<%= link_to 'Novo Produto', new_product_path %>

<table>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td>
                <%= link_to product_path(product) do %>
                    <div class="show"></div>
                <% end %>
            </td>
            <td>
                <%= link_to edit_product_path(product) do %>
                    <div class="edit"></div>
                <% end %>
            </td>
            <td>
                <%= link_to product_path(product), method: :delete do %>
                    <div class="destroy"></div>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>